.header-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.login-input,
.login-email-error,
.login-password-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 700;
  box-sizing: border-box;
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #6e747c;
}

.login-email-error {
  color: #fff;
  background-color: #e22a32;
  border: transparent;
  visibility: hidden;
}

.login-password-link {
  visibility: hidden;
  border: transparent;
  color: #fff;
}

.login-button {
  background-color: #2ba0ea;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 9px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.login-button:hover {
  transform: scale(1.1);
  border: 1px solid #fff;
}

.login-form,
.login-helper {
  display: flex;
  flex-direction: column;
  gap: 5px
}

@media (576px <= width <= 1024px) {
  .login-form,
  .login-helper {
    flex-direction: row;
  }

  .login-form {
    margin-top: 30px;
  }

  .login-helper {
    width: 100%;
  }

  .login-input,
  .login-email-error,
  .login-password-link {
    font-size: 10px;
    width: 150px;
    margin-left: 5px;
    padding: 10px;
  }

  .login-button {
    padding: 10px;
    margin-left: 5px;
    font-size: 10px;
  }


}

@media (width > 1024px) {
  .login-input,
  .login-email-error,
  .login-password-link {
    font-size: 11px;
    width: 200px;
    margin-left: 5px;
    padding: 10px;
  }

  .login-button {
    padding: 10px 20px;
    margin-left: 5px;
    font-size: 11px;
  }
  
  .login-form,
  .login-helper {
    flex-direction: row;
  }

  .login-form {
    margin-top: 30px;
  }

  .login-helper {
    width: 100%;
  }
}