.page {
  scroll-behavior: smooth;
  font-family: proxima-nova, sans-serif;
}

.page-body {
  box-sizing: border-box;
  padding: 10px;
  max-width: 100vw;
  background-image: url('../../img/background/small.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.page-body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0 0 0 / 50%);
  z-index: -1;
}

@media (576px <= width <= 1024px) {
  .page-body {
    padding: 20px;
    background-image: url('../../img/background/medium.png');
  }
}

@media (width > 1024px) {
  .page-body {
    padding: 30px;
    background-image: url('../../img/background/big.png');
  }
}
