.page {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}

.page-body {
  box-sizing: border-box;
  padding: 40px;
  min-width: 100%;
  background-image: url('../../img/background/clouds-cold-dark-540518.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 