.register-form {
  font-family: open-sans, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  box-sizing: border-box;
  align-self: center;
  width: 70px;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #3594ea;
  cursor: pointer;
  transition: all 0.3s;
}

.register-error {
  visibility: hidden;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 700;
  height: 35px;
  width: 150px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #e22a32;
}

.register-previous {
  width: 30px;
  padding: 0;
  border: 2px solid #818a8d;
  background: transparent;
  color: #818a8d;
  font-size: 10px;
  line-height: 10px;
  transition: all 0.3s;
}

.register-previous:hover {
  border-color: #fff;
  color: #fff;
  transform: scale(1.15);
}

.register-start {
  background-color: #3cd242;
  display: none;
  transition: all 0.3s;
}

.register-start:hover,
.register-next:hover {
  transform: scale(1.15);
  border: 1px solid #fff;
}

.register-step {
  display: none;
}

.register-step.active {
  display: block;
  width: 200px;
}

.register-label {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #818a8d;
  margin-bottom: 5px;
}

.register-input {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #818a8d;
  padding: 10px;
  color: grey;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  transition: all 0.3s;
}

.register-input:focus {
  border-color: #ccc;
}

.register-input:hover {
  box-shadow: 0 2px 4px rgba(0 0 0 / 30%);
  text-shadow: 0 2px 4px rgba(0 0 0 / 30%);
}

.register-policy-transparent,
.register-policy-location,
.register-policy-private {
  color: #818a8d;
  font-size: 10px;
  width: 200px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  display: none;
}

.register-policy-location.active,
.register-policy-private.active,
.register-policy-transparent.active {
  display: block;
}

@media (576px <= width <= 1024px) {
  .button {
    width: 90px;
    height: 35px;
    padding: 10px;
    font-size: 11px;
  }

  .register-error {
    font-size: 10px;
    height: 40px;
    width: 170px;
    margin-left: 5px;
    padding: 10px;
  }

  .register-previous {
    width: 35px;
    font-size: 12px;
    line-height: 12px;
  }

  .register-step.active {
    width: 250px;
  }

  .register-label {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .register-policy-transparent,
  .register-policy-location,
  .register-policy-private {
    font-size: 12px;
    width: 250px;
    height: 40px;
  }
}

@media (width > 1024px) {
  .button {
    width: 120px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
  }

  .register-error {
    font-size: 12px;
    height: 45px;
    width: 200px;
    margin-left: 5px;
    padding: 10px;
  }

  .register-previous {
    width: 40px;
    font-size: 14px;
    line-height: 14px;
  }

  .register-step.active {
    width: 360px;
  }

  .register-label {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .register-input {
    font-size: 18px;
  }

  .register-policy-transparent,
  .register-policy-location,
  .register-policy-private {
    font-size: 12px;
    width: 360px;
    height: 45px;
  }
}
