.custom-select {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #818a8d;
  padding: 10px;
  margin: 5px;
  color: grey;
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  transition: all 0.3s;
}

.custom-select:hover {
  box-shadow: 0 2px 4px rgba(0 0 0 / 30%);
}

.custom-select .select-value {
  display: block;
}

.custom-select .options {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: #fff;
  border: 2px solid #818a8d;
  border-radius:5px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.custom-select .options li {
  padding: 10px;
  transition: all 0.3s;
  text-align: center;
}

.custom-select .options li:hover {
  background-color: #ccc;
  font-weight: 700;
}

.custom-select.active .options {
  display: block;
  border: 2px solid #818a8d;
}

@media (576px <= width <= 1024px) {
  .custom-select {
    font-size: 14px;
  }
}

@media (width > 1024px) {
  .custom-select {
    font-size: 18px;
  }
}
